# Python
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/
.pytest_cache/
output/

# Web
node_modules/
.next/
out/
.vercel

# Env & secrets
.env
.env.local

# OS / editor
.DS_Store
.vscode/
.idea/
*.log
